<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Les Sejours - {% block title %} Mon Application Symfony  {% endblock %} </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
     {% block stylesheets %}{% endblock %}
</head>
<body>

    {% include'inc/header.html.twig' %}
 
    {% block body %}{% endblock %}

    {% include 'inc/footer.html.twig' %}

    <script src ="/js/jquery.min.js"></script>
    <script src ="/js/popper.min.js"></script>
    <script src ="/js/bootstrap.min.js"></script>

    {% block javascripts %}{% endblock %}

</body>
</html>